.box-shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border: 1px solid rgba(0,0,0,.125);
}

.gap-nav {
  float: right;
}

.table-valid {
  color: green;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.badge-admin {
  font-size: 1.5rem;
}
